*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'DM Sans', "sans-serif";
}

.container {
    width: 1440px;
    margin: 0 auto;
    padding: 0 144px;
}

.header-container {
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    position: fixed;
    background-color: white;
    z-index: 1;
}

.header-container__heading {
    color: #222;
    font-family: "DM Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.navigation__items {
    display: flex;
    gap: 62px;
    margin-left: 242px;
    margin-right: 112px;
    list-style: none;
}

.header__link {
    color: #222;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 155%;
    text-decoration: none;
}

.second-navigation__items {
    display: flex;
    gap: 48px;
    list-style: none;
}

.main-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background: #086CF9;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    padding: 12px 24px;
    text-decoration: none;
}

.white-btn {
    background-color: white;
    color: #222;
}

.hero-container {
    width: 1440px;
    height: 839px;
    flex-shrink: 0;
    background: url(../images/back-img.svg);
    background-size: cover;
    text-align: center;
    padding-top: 199px;
}

.hero-container__title {
    color: #FFF;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 24px;
}

.hero-container__text {
    width: 867px;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 155%;
    margin: 0 auto;
    margin-bottom: 54px;
}

.info-container {
    position: relative;
    margin-top: -100px;
}

.info-box {
    display: inline-flex;
    padding: 56px 88px;
    justify-content: center;
    align-items: center;
    gap: 155px;
    border-radius: 16px;
    background: #FFF;
    box-shadow: 0px 11px 35px 0px rgba(0, 0, 0, 0.08);
}

.info-items {
    display: flex;
    gap: 155px;
    list-style: none;
}

.info-items__item {
    display: flex;
    gap: 24px;
    align-items: center;
}

.info-items__item--img {
    width: 72px;
    height: 72px;
}

.info-items__item--heading {
    color: #222;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.info-items__item--text {
    color: #086CF9;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 155%;
}

.iframe-container {
    display: flex;
    gap: 38px;
    padding: 128px 144px;
    align-items: center;
}

.left-box__title {
    width: 519px;
    color: #222;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.left-box__text {
    width: 478px;
    color: #555;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 155%;
    margin-top: 24px;
    margin-bottom: 16px;
}

.left-box__text2 {
    width: 489px;
    color: #333;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 32px;
}

.work-container__heading {
    color: #222;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
}

.work-container__text {
    width: 423px;
    color: #555;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 155%;
    margin: 0 auto;
    margin-top: 12px;
}

.work-container__items {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-top: 48px;
    margin-bottom: 128px;
}

.work-container__items--item {
    text-align: center;
}

.items-item__heading {
    color: #222;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 24px;
    margin-bottom: 16px;
}

.items-item__text {
    width: 248px;
    color: #555;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 155%;
}

.video-container {
    background: #ECF4FF;
    padding: 60px 144px;
}

.video-container__title {
    color: #000;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
}

.video-container__text {
    width: 674px;
    color: #555;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 155%;
    margin: 0 auto;
    margin-top: 12px;
    margin-bottom: 48px;
}

.video-container__items {
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.video-container__item {
    width: 368px;
    height: 483px;
    align-items: flex-start;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 6px;
    background: #FFF;
    padding: 24px;
    margin-bottom: 30px;
}

.video-container__item--img {
    margin-top: 24px;
    margin-bottom: 45px;
}

.span-box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 18px;
}

.video-container__item--text {
    width: 319px;
    color: #555;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 155%;
}

.btn-link {
    margin-top: 48px;
    margin-left: 500px;
}

.meet-container {
    padding: 128px 144px;
}

.meet-container__heading {
    width: 522px;
    color: #222;
    margin: 0 auto;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.meet-container__text {
    width: 551px;
    color: #444;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 155%;
    margin: 0 auto;
    margin-top: 12px;
    margin-bottom: 48px;
}

.meet-container__items {
    display: flex;
    list-style: none;
    justify-content: space-between;
}

.meet-container__items--item {
    height: 502px;
    align-items: flex-start;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 6px;
    background: #FFF;
    box-shadow: 0px 11px 55px 0px rgba(0, 0, 0, 0.08);
}

.meet-container__names {
    color: #222;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 16px;
    margin-bottom: 8px;
    margin-left: 24px;
}

.paragraf {
    color: #555;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 155%;
    margin-left: 24px;
}

.meet-container__img {
    margin-top: 24px;
    margin-left: 24px;
}